@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

@font-face {
  font-family: 'Aleck';
  src: url('../src/assets/ATTAleckSans_Rg.ttf') format('truetype'); /* Regular */
  font-weight: normal; /* or 400 */
  font-style: normal;
}

@font-face {
  font-family: 'Aleck';
  src: url('../src/assets/ATTAleckSans_Bd.ttf') format('truetype'); /* Bold */
  font-weight: bold; /* or 700 */
  font-style: normal;
}

body {
  font-family: 'Aleck', -apple-system, BlinkMacSystemFont, "Lucida Handwriting",
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body,
html {
  color: #fff;
  font-family: Aleck;
  background-color: #2195CB;
  text-align: center;
}

.perch {
  height: 40px; /* Adjust the height as needed */
  margin-right: 10px; /* Space between the logo and text */
}

.Landing {
  padding: 5% 10%;
}

.Admin {
  padding: 10%;
}
.AtlMap{
  padding: 0 10%;
}
.International {
  padding: 10%;
}
.Proceed {
  padding: 10%;
}
.Zipcode {
  padding: 10%;
}

.StateMap {
  padding: 0 10%;
}

.State {
  padding: 10%;
}

/* Fade-in effect */
.fade-in {
  opacity: 0;
  animation: fadeIn 2s forwards; /* Adjust duration as needed */
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

/* Fade-out effect */
.fade-out {
  opacity: 1;
  transition: opacity 1s ease;
  opacity: 0;
}

.Atlanta {
/*   width: 100vw;
  height: 100vh;
  overflow: hidden !important; 
  position: relative;
  margin: 0 !important;
  padding:0 !important; */
  padding: 10%;
}

.FinalPage {
  padding: 10%;

}

.footer {
    position: fixed; /* Use fixed to keep it at the bottom */
    left: 0;
    bottom: 0; /* Stick to the bottom */
    width: 100%; /* Full width */
    text-align: center; /* Center the text */
    padding: 10px 0; /* Padding for spacing */
}

.logo {
    height: 15vmin; /* Responsive height */
    pointer-events: none; /* Prevent interactions */
}

.fp-logo {
  height: 55vmin; /* Responsive height */
  pointer-events: none; /* Prevent interactions */
}

.earth {
  height: 75vmin; /* Responsive height */
  pointer-events: none; /* Prevent interactions */
}

.look {
  display: flex;               /* Use flexbox for centering */
  justify-content: center;     /* Center horizontally */
  align-items: center;         /* Center vertically */
  text-align: center;          /* Center text */
  padding-top: 15%;
}

@keyframes fadeInOscillate {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}


.iframe {
/*   width: 100%;
  height: 100%; */
  overflow: hidden !important; 
  border: none; 
  background-color: #2195CB;
  
}
input {
  width: 90%;
  background-color: #ffffff;
  color: #2195CB;
  border-radius: 15px;
  border: none;
  padding: 15px;
  font-size: 16px;
  text-align: center;
}

.Header {
  display: flex;
  align-items: center; /* Vertically center the logo and text */
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 10%;
  padding-bottom: 0;
}

.perch {
  width: 70px; /* Adjust size as needed */
  height: auto; /* Maintain aspect ratio */
  margin-right: 10px; /* Space between logo and text */
}

h1 {
  /* margin-right: 100px; */
  margin: 0;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  /* padding: 10% 10% 0; */
}

h6 {
  /* margin-right: 100px; */
  font-size: 20px;
  font-weight: bold;
  text-align: left;
}

h2 {
  font-size: 30px;
  font-weight: bold;
  text-align: left;
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

h3 {
  animation: fadeInOscillate 3s infinite; /* Set animation duration and repetition */
  font-size: 30px;
  font-weight: normal;
  text-align: left;
  margin-top: 0; /* Remove top margin */
  margin-bottom: 0; /* Remove bottom margin */
  padding-top: 0; /* Remove top padding */
  padding-bottom: 0; /* Remove bottom padding */
}

h4 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-top: 0; /* Remove top margin */
  margin-bottom: 0; /* Remove bottom margin */
  padding-top: 0; /* Remove top padding */
  padding-bottom: 0; /* Remove bottom padding */
}


h5 {
  font-size: 30px;
  font-weight: bold;
  text-align: left;
  margin-top: 0; /* Remove top margin */
  margin-bottom: 0; /* Remove bottom margin */
  padding-top: 0; /* Remove top padding */
  padding-bottom: 0; /* Remove bottom padding */
}

p {
  font-size: 16px;
  text-align: left;
}

input::placeholder {
  color: #2195CB;
  padding: 5px;
  font-size: 18px;
  text-align: center;
}


button {
  text-decoration: none;
  width: 100%;
  padding: 15px;
  background-color: #00388F;
  color: #fff;
  border: none;
  border-radius: 15px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 10px;
}

button:hover {
  background-color: #0056b3;
}

@media screen and (max-width: 1200) {
  body {
    overflow: hidden;
    position: relative;
  }
}

#graphContainer {
  position: relative;
  width: 100vw; /* Allow it to fill the parent */
  height: auto; /* Maintain aspect ratio */
  transform: scale(0.5);
  transform-origin: top left;
  /* background-color: rgba(224, 228, 231, 0.473); */
/*   background-image: './src/usOutline.png?v=1727798339161'; */
}

/* Adjust the graph canvas */
#graphCanvas {
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw; /* Fill the container */
}


/* Define custom properties with initial values */
@property --p {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 0%;
}

@property --l {
  syntax: '<length>';
  inherits: false;
  initial-value: 0px;
}

@property --a {
  syntax: '<angle>';
  inherits: false;
  initial-value: 0deg;
}

/* Keyframes for the pulse animation */
@keyframes pulse {
  0% {
    background: radial-gradient(white var(--p),#009fdb);
    transform: scale(1);
    --p: 0%;
    --l: 0px;
    --a: 0deg;
    filter: blur(0px);
    box-shadow: 0 0 0px 0px #009fdb; /* No shadow initially */
  }
  50% {
    background: radial-gradient(white var(--p),#009fdb);
    transform: scale(1.1);
    --p: 80%;
    --l: 80px;
    --a: 180deg;
    filter: blur(5px);
    box-shadow: 0 0 10px 5px #009fdb; /* Box shadow during animation */
  }
  100% {
    background: radial-gradient(white var(--p),#009fdb);
    transform: scale(1);
    --p: 0%;
    --l: 0px;
    --a: 0deg;
    filter: blur(0px);
    box-shadow: 0 0 0px 0px #009fdb; /* No shadow at end */
  }
}

/* Initial state of the box */
.box {
  z-index: 1; /* Higher z-index for nodes */
  position: absolute;
  border-radius: 100%;
  /* background: radial-gradient(white var(--p),#009fdb); */
  box-shadow: 0 0 0px 0px #009fdb; /* No shadow initially */
  filter: blur(0px); /* No blur initially */
  --p: 0%;
  --l: 0px;
  --a: 0deg;
  cursor: pointer;
  /* margin: 15px; */
  display: inline-block;
  transition: background 0.5s, filter 0.5s, box-shadow 0.5s, transform 0.5s;
  /* background: linear-gradient(white var(--p), #009fdb var(--p)); */
}

/* Pulsing effect when 'pulse' class is added */
.box.pulse {
  animation: pulse 3s;
  animation-iteration-count: 1; /* Run the animation once */
}
